
<br /><br />
<div class="list-group-item">
<span class="list"> List
</span>


<ul class="nav">

  <li><button class="button" (click)="onAll()">All</button></li>
  <li><button class="button" (click)="onCompleted()">Completed</button></li>
  <li><button class="button" (click)="onToDoList()">To Do</button></li>
  </ul>
</div>


<ng-template #ToDoList>
<ng-template #ToDo>

   

<div style="margin:0px 0px">
  <ul class="list-group">
    <li class="list-group-item" *ngFor="let item of itemsL ">
      <span class="hover-cursor" [class.text-success]="item.checked" (click) ="alterCheck(item, item.checked)">
        <i class="fa fa-lg" [ngClass]="item.checked?'fa-check-circle-o':'fa-circle-thin'"></i>
      </span>
      
        {{item.title}} 
       
     
     
 
     
     
      
      
      
      
      <span class="hover-cursor text-danger pull-right" (click)="deleteItem(item)">
        <i class="fa fa-trash-o fa-lg"></i>
      </span>
    </li>
  </ul>
</div>

<ng-template #inputBox>

  <form (ngSubmit)="onSubmit(itemTitle)">
    
     
  <div class="input-group">
    
  <input  type="text" class="form-control" name="item.title" [(ngModel)]="item.title" autofocus  >
    
  </div>

</form>
</ng-template>



<div *ngIf = "!showInputBox; else inputBox" class="center"  >
<i class="fa fa-plus-circle fa-2x" (click)="OnClickPlus()"></i>
<br />
  
</div>
</ng-template>




 
<div *ngIf = "showCompleted && !showAll; else ToDo">





<div style="margin:0px 0px"> 
  <ul class="list-group">
    <li class="list-group-item" *ngFor="let item of itemsC ">
      <span class="hover-cursor" [class.text-success]="item.checked" (click) ="alterCheck(item, item.checked)">
        <i class="fa fa-lg" [ngClass]="item.checked?'fa-check-circle-o':'fa-circle-thin '"></i>
      </span>
       {{item.title}}
      
      
      
      
      
      <span class="hover-cursor text-danger pull-right" (click)="deleteItem(item)">
        <i class="fa fa-trash-o fa-lg"></i>
      </span>
    </li>
  </ul>
</div><br />
 
 



  
  <br />
</div>
</ng-template>

<div *ngIf = "showAll && !showCompleted; else ToDoList" >
  
  
  
  <div style="margin:0px 0px"> 
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let item of items ">
        <span class="hover-cursor" [class.text-success]="item.checked" (click) ="alterCheck(item, item.checked)">
          <i class="fa fa-lg" [ngClass]="item.checked?'fa-check-circle-o':'fa-circle-thin '"></i>
        </span>
         {{item.title}}
        
        
        
        
        
        <span class="hover-cursor text-danger pull-right" (click)="deleteItem(item)">
          <i class="fa fa-trash-o fa-lg"></i>
        </span>
      </li>
    </ul>
  </div><br />
   
   
  
  
  
    
    <br />
  </div>
  