.hover-cursor{
    cursor: pointer;
}

  
.i{
    display: flex;
    justify-content: center;
    
  }
  
  

  
      
  
  #center{
    display: flex;
    justify-content: center;
    
  }
   #textarea{
       height: 200%;
   }
   .center{
    display: flex;
    justify-content: center;
   }