.hover-cursor{
    cursor: pointer;
}

  
.center{
    display: flex;
    justify-content: center;
    
  }
  .button{
      float: right;
  }

  .list{
      font-size:large;
      font:bolder;
      
  }
  