.hover-cursor{
    cursor: pointer;
}

  
.i{
    display: flex;
    justify-content: center;
    
  }
  .nav{
      float: right;
      background-color: white;
  }

  .list{
      font-size:large;
      font:bolder;
      
  }
  